schemas/catalog.tan.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="collection">
      <attribute name="stable">
        <data type="boolean"/>
      </attribute>
      <oneOrMore>
        <element name="doc">
          <attribute name="href"/>
          <attribute name="id">
            <data type="anyURI"/>
          </attribute>
          <attribute name="root">
            <data type="NCName"/>
          </attribute>
          <ref name="any-content"/>
        </element>
      </oneOrMore>
    </element>
  </start>
  <define name="any-content">
    <interleave>
      <zeroOrMore>
        <ref name="any-element"/>
      </zeroOrMore>
      <text/>
    </interleave>
  </define>
  <define name="any-element">
    <element>
      <anyName/>
      <zeroOrMore>
        <ref name="any-attribute"/>
      </zeroOrMore>
      <ref name="any-content"/>
    </element>
  </define>
  <!-- We omit @xml:id to avoid id conflicts -->
  <define name="any-attribute">
    <attribute>
      <anyName>
        <except>
          <name>xml:id</name>
        </except>
      </anyName>
    </attribute>
  </define>
</grammar>
