schemas/catalog.tan.rnc

default namespace = ""

start =
  element collection {
    attribute stable { xsd:boolean },
    element doc {
      attribute href { text },
      attribute id { xsd:anyURI },
      attribute root { xsd:NCName },
      any-content
    }+
  }

any-content = any-element* & text
any-element = element * { any-attribute*, any-content }
# We omit @xml:id to avoid id conflicts
any-attribute = attribute * - xml:id { text }
