schemas/catalog.tan.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="collection">
      <attribute name="stable">
        <data type="boolean"/>
      </attribute>
      <oneOrMore>
        <element name="doc">
          <attribute name="href"/>
          <attribute name="id">
            <data type="anyURI"/>
          </attribute>
          <attribute name="root">
            <data type="NCName"/>
          </attribute>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
