schemas/TAN-A.rnc

default namespace local = "tag:textalign.net,2015:ns"

include "incl/TAN-class-2.rnc" {
    start =
        
        ## specifies that the file is a div-based TAN alignment file. Root element.
        element TAN-A { TAN-root }
    
    ## TAN-A files must have zero or more sources
    source-list = link-element-source*
    voc-element-non-class-2 = voc-element-tan-a
    tok-cert-opt = empty
    
    ## Redefining TAN-body-core not only defines what is in the body of a TAN-A but also excludes groups from it.
    body-content-non-class-2 = ptr-attr-subject?, ptr-attr-object?, ptr-attr-verb?, element-claim*
}
# ATTRIBUTES
attr-in-lang =
    
    ## restricts a claim to a particular language; used with only certain verbs, e.g., "translates"
    
    ## By default, this feature is disallowed. A verb's <constraint> must explicitly require or allow it.
    attribute in-lang { xsd:language }
ptr-attr-modal =
    
    ## names a <modal> that qualifies the claim.
    
    ##  Multiple values of @adverb are interpreted to mean "and" with intersection. No distribution takes place (e.g., adverb="x y" means "[subject] x & y [verby]...", not "[subject] x [verb]..." and "[subject] y [verb]...").
    attribute adverb { text }
ptr-attr-object =
    
    ## takes one or more ID refs of entities defined in <head> that serve as the grammatical object of a claim. For example, if you wish to say that work A is a commentary on work B, then @object would have the ID ref for work B. @object is used for idrefs; data content, textual references, or complex objects must be encoded with <object>.
    
    ##  Multiple values of @object are interpreted to mean "and", resulting in distribution of the claim (e.g., object="x y" becomes "[subject] [verb] x" and "[subject] [verb] y...").
    
    ## In RDF, the concept of object (the third element of a triple) is required. In TAN-c, it is not required, since some <verb>s may be intransitive (e.g., "Charlie slept.").
    attribute object { text }
ptr-attr-place =
    
    ## restricts the <claim> to a specific <place>.
    ##  Multiple values of @where are interpreted to mean "or" with union. No distribution takes place (e.g., where="x y" means "[subject] x or y [verby]...", not "[subject] x [verb]..." and "[subject] y [verb]...").
    attribute where { text }
ptr-attr-scriptum =
    
    ## points to one or more ID refs of entities defined in <head> that are scripta (text-bearing objects).
    
    ##  Multiple values of @scriptum are interpreted to mean "and", resulting in distribution of the claim.
    attribute scriptum { text }
ptr-attr-subject =
    
    ## points to one or more ID refs of entities defined in <head> that serve as the grammatical subject of a claim. @subject within <body> indicates the default subject(s) for <claim>s. @subject is used for idrefs; data content, textual references, or complex objects must be encoded with <subject>.
    
    ##  Multiple values of @subject are interpreted to mean "and", resulting in distribution of the claim (e.g., subject="x y" becomes "x [verby]..." and "y [verb]...").
    attribute subject { text }
ptr-attr-units =
    
    ## points to the ID ref of a <unit>, defining the type of units.
    attribute units { text }
ptr-attr-verb =
    
    ## points to one or more <verb>s that serve to assert something of the @subject.
    
    ## The preferred term "verb" is equivalent to RDF "predicate." The latter term is avoided as being misleading -- most who use TAN will understand "predicate," grammatically speaking, to refer to everything in a sentence that is not the subject.
    
    ##  Multiple values of @verb are interpreted to mean "and", resulting in distribution of the claim (e.g., verb="x y" becomes "[subject] x ..." and "[subject] y...").
    attribute verb { text }
ptr-attr-version =
    
    ## points to one or more versions of a scriptum referred to by a <subject> or <objec>.
    attribute version { text }
ptr-attr-work =
    
    ## refers to a work by means of a source ID as a proxy. The attribute will be treated as indicating all sources that share the same work as the one mentioned.
    
    ## If you wish to avoid making a claim applying to all other versions of a work, use @src instead.
    attribute work { text }
# ELEMENTS
element-claim =
    
    ## makes one or more claims.
    element claim {
        inclusion
        | (ed-stamp?,
           attr-id-xml?,
           certainty-claim?,
           claimant-attributes?,
           ptr-attr-period?,
           ptr-attr-modal?,
           ptr-attr-verb?,
           ptr-attr-place?,
           (subject? & object? & element-at-ref* & in-lang?))
    }
element-at-ref =
    
    ## restricts a claim to a particular abstract textual reference. 
    
    ## <at-ref> serves mainly claims related to apparatus critici. In traditional critical editions, the main text has an apparatus at the bottom of the page, indicating variations in the manuscript, e.g., "A om." or "A: γάρ". These terse statements can be expanded: "Manuscript A omits the passage at line X word Y" and "Manuscript A reads γάρ in place of the passage at line X word Y." In those statements, A is the subject, and the reading (or lack thereof) is the object. The qualifier "at line X word Y" is the phrase that corresponds to <at-ref>. It functions much like <where>, but the geography is textual rather than spatial. 
    
    ## This qualifier is special, and must be explicitly allowed or mandated by the <verb>'s definition. 
    
    ## <at-ref> contains a textual reference, and will look similar to a textual reference <subject> or <object>. 
    element at-ref { ed-stamp?, textual-reference }
element-div =
    
    ## restricts a claim to a particular passage in a subject or object. It is especially useful for clarifying which part of a scriptum is meant, e.g., page ranges, in a particular scriptum.
    
    ## Unlike class-1 <div>s, this one takes no text and no inclusions.
    element div { ed-stamp?, ptr-attr-type, attr-n, element-div* }
element-in-lang =
    
    ## restricts a claim to a particular language; used with only certain verbs, e.g., "translates"
    
    ## By default, this feature is disallowed. A verb's <constrain> must explicitly require or allow it.
    element in-lang { ed-stamp?, xsd:language }
element-object =
    
    ## points to text references that act as the object of the claim.
    
    ## Unlike @object, which points to any entity via idrefs, <subject> is intended exclusively to point to data content or a textual subject.
    
    ##  Each <subject> is interpreted as a single entity, with all textual references encoded by the element treated as a single, grouped passage.
    element object { ed-stamp?, (nontextual-reference | textual-reference) }
element-subject =
    
    ## points to text references that act as the subject of the claim.
    
    ## Unlike @subject, which points to any entity via idrefs, <subject> is intended exclusively to point to data content or a textual subject.
    
    ##  Each <subject> is interpreted as a single entity, with all textual references encoded by the element treated as a single, grouped passage.
    element subject { ed-stamp?, (nontextual-reference | textual-reference) }
element-tok-for-claim-no-ref =
    
    ## points to one or more tokens in a source + ref defined by the parent.    
    element tok { tok-selector-attributes-many, attr-chars? }
element-tok-for-claim-with-ref =
    
    ## points to one or more tokens in a source defined by the parent.    
    element tok { attr-ref-many, tok-selector-attributes-many, attr-chars? }
voc-element-tan-a =
    voc-element-work*
    & voc-element-place*
    & voc-element-unit*
    & voc-element-div-type*
    & voc-element-mode*
    & voc-element-vers*
    & voc-element-scri*
    & voc-element-topic*
    & voc-element-verb*
voc-element-mode =
    
    ## contains an IRI + name pattern identifying a modal or adverb that qualifies the verb of an assertion.
    
    ## See main.xml#vocabularies-modals for standard vocabulary.
    element modal { entity-nondigital-id }
voc-element-place =
    
    ## contains an IRI + name pattern identifying a spatial location, usually somewhere on earth
    element place { entity-nondigital-id }
voc-element-scri =
    
    ## contains an IRI + name pattern identifying a text-bearing object.
    element scriptum { entity-nondigital-id }
voc-element-topic =
    
    ## declares one or more topics, to be used in conjunction with @topic under <align> to associate alignments with specific topics instead of verbatim parallels.  
    element topic { entity-nondigital-id }
voc-element-unit =
    
    ## contains an IRI + name pattern identifying a unit type (e.g., millimeters, seconds, Euros), to be used in conjunction with <object> to specify the meaning of a value
    element unit { entity-nondigital-id }
voc-element-vers =
    
    ## identifies the version of a work. Applicable to sources that contain multiple versions, e.g., original text and facing translations. Like <work>, <version> points to a conceptual entity, not a physical one.
    
    ## In the context of a class 1 file, the entity identified by <version> is assumed to be a version of the entity defined in <work>. In TAN-c files, however, no relationship is assumed between <version> and any putative work, unless explicitly stated in that file. 
    
    ## Very few work-versions have their own URN names. It is advisable to assign a tag URN or a UUID. If you have used an IRI for <work> that you are entitled to modify, you may wish to add a suffix that will name the version. If you need to specify exactly where on a text-bearing object a version appears, <desc> or <comment> should be used.
    
    ## For more, see main.xml#conceptual_works
    element version { entity-nondigital-id }
voc-element-work =
    
    ## identifies a creative textual work, understood conceptually, not physically (e.g., Homer's Iliad, not a particular version or copy of it).
    
    ## The term "work" is only loosely defined in TAN. Any text that has enough unity to be referred to in ordinary conversation as a single entity may be identified as a work. A work may be composed of other works, be a part of other works, or even overlap with other works. E.g., the Lord's Prayer, the Gospel of Luke, the Tetravengelion, the New Testament, and the Bible are all valid works, despite the complex relationship between each of them.
    
    ## This element takes the IRI + name pattern. For more, see main.xml#conceptual_works
    element work { entity-nondigital-id }
# PATTERNS
in-lang = attr-in-lang | element-in-lang+
subject = ptr-attr-subject | element-subject+
object = ptr-attr-object | complex-object+
complex-object = element-object | element-claim+
nontextual-reference = (attr-lang-xml | ptr-attr-units)?, text
textual-reference =
    multi-source-whole-div-textual-reference
    | single-source-partial-div-textual-reference
    | scriptum-reference
# If a textual reference points merely to <div>s then all one need is @src/@work plus @ref
multi-source-whole-div-textual-reference = (ptr-attr-src-many | ptr-attr-work), attr-ref-many
# If a textual reference points to parts of divs, i.e., tokens and token-defined passages, then it is source-specific (@src not @work). 
single-source-partial-div-textual-reference =
    ptr-attr-src-one, (single-div-partial-textual-reference | multi-div-partial-textual-reference)
# If a partial textual reference is a subset of a <div> then @ref, pointing to a single <div>, should be in the parent element
single-div-partial-textual-reference =
    attr-ref-one, (element-tok-for-claim-no-ref | text-passage-selector-no-ref)+
# If a partial textual reference is a spans <div>s then @ref should be in the children elements
multi-div-partial-textual-reference =
    (element-tok-for-claim-with-ref | text-passage-selector-with-ref)+
scriptum-reference = (ptr-attr-scriptum | ptr-attr-which), (ptr-attr-work, ptr-attr-version?)?, element-div*
